<h1>Add Task </h1>
<div class="container">
  <form (ngSubmit)="onTaskUpdate(f)" #f="ngForm">
    <div class="form-group">
      <input name="Id" required type="text" placeholder="Enter Id" [(ngModel)]="Id" class="form-control">
    </div>

    <div class="form-group">
      <input  required name="Title" type="text" placeholder="Enter Title" [(ngModel)]="Title" class="form-control">
    </div>

    <div class="form-group">
      <select name="Status" class="form-control" [(ngModel)]="Status">
        <option *ngFor="let item of arr" [value]="item" selected>{{item}}</option>
      </select>
    </div>
    <div class="form-group">
      <button  type="submit" class="form-control btn btn-primary">Update Task</button>
    </div>
  </form>
</div>


