<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">TITLE</th>
      <th scope="col">STATUS</th>
      <th scope="col">ACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of allTasks">
      <td>{{item.Id}}</td>
      <td>{{item.Title}}</td>
      <td>{{item.Status}}</td>
      <td>
        <button class="btn btn-primary" (click)="onUpdate(item)">UPDATE</button>&nbsp;&nbsp;
        <button class="btn btn-primary" (click)="onDelete(item)">DELETE</button>
      </td>
    </tr>
    </tbody>
</table>
<button class="btn btn-primary" (click)="onAdd()">ADD TASK</button>
